.footer {
  width: 82%;
  background: #1F2021;
  margin: 5.188rem auto;
  font-family: 'Montserrat', sans-serif;

  &-buy {
    color: #ffffff;
    width: 25.063rem;
    margin: 5.188rem 0 5.75rem 4rem;
  }

  &-emailsWrapper {
    position: relative;
    margin: 5.688rem 1rem 0 0;
  }

  &-haveTime {
    font-size: 3rem;
    line-height: 3.656rem;
    font-weight: 700;
    margin-bottom: 1.625rem;
  }

  &-promotions {
    font-size: 1.75rem;
    line-height: 1.594rem;
  }

  &-email {
    width: 18.750rem;
    font-family: inherit;
    border-radius: 10px;
    font-size: 0.875rem;
    line-height: 1.05rem;
    border: none;
    padding: 1.5rem 0 1.5rem 2.125rem;
    margin: 0 0 1.250rem 0;
    &:focus {
      outline: none;
    }
  }

  &-subscribe {
    width: 15.625rem;
    font-size: 0.875rem;
    line-height: 1.063rem;
    color: #ffffff;
    background: #6EBBD3;
    border: none;
    border-radius: 10px;
    margin: 5.688rem 4rem 0 0;
    padding: 1.5rem 0;
  }


  &-check {
    display: none;
    &+label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      font-weight: 400;
    }
    &+label:before {
      content: '';
      width: 1.250rem;
      height: 1.250rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0.125rem 0.375rem 0.125rem 0.125rem;
      background: #f5f5f5;
      border-radius: 0.313rem;
      transition: all 0.25s ease-out;
    }
    &:not(:disabled):active+label:before {
      background: #d6d6d6;
    }
    &:not(:disabled):not(:checked)+label:hover:before {
      background: #0b5375;
    }
    &:checked+label:before {
      content: "✔";
      background: #6EBBD3;
      color: black;
    }
  }

  #accept {
    position: absolute;
    display: block;
    left: 1%;
    font-size: 1.5rem;
    top: 14%;
    color: green;
  }

  &-newsSubscribe {
    font-size: 0.875rem;
    color: #ffffff;
    line-height: 1.063rem;
  }

  &-tips {
    position: absolute;
    top: -40%;
    color: #ffffff;
    font-size: 1rem;
  }

}

@-webkit-keyframes pulseSubscribe {
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}
@keyframes hvr-icon-pulse-shrink {
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
}

@media screen and (min-width: 279px) and (max-width: 927px) and (orientation: portrait), (min-height: 279px) and (max-height: 541px) and (orientation: landscape) {
  .footer {
    flex-wrap: wrap;
    width: 100%;

    &-container {
      flex-direction: column;
      width: 100%;
    }

    &-subscribe, &-emailsWrapper, &-buy {
      width: 80%;
    }

    &-buy {
      margin: 2rem 0;
    }

    &-emailsWrapper, &-subscribe {
      margin: 0 auto 2rem;
    }

    &-email {
      width: 100%;
    }

    &-tips {
      top: -26%;
      color: #ef9494;
    }

  }
}

@media only screen and (width: 280px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 3) {

  .footer {
    margin: 0;
    &-tips {
      top: -40%;
    }

    &-buy {
      margin: 2rem 0 3rem;
    }

  }
}

@media (min-width: 992px) {
.footer {
  &-subscribe {
    &:hover {
      -webkit-animation-name: hvr-icon-pulse-shrink;
      animation-name: hvr-icon-pulse-shrink;
      -webkit-animation-duration: 0.3s;
      animation-duration: 0.3s;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
    }
  }
}
}




